    .edit-right-side {
        /* take up the rest of the width */
        overflow:hidden;
        padding-left: 1em;
        padding-right: 2em;
    }
    .label {
        font-weight: bold;
    }
    .inside-form {
        padding-bottom: 1em;
    }
    textarea {
        box-sizing: border-box;
        width:100%;
    }
    input[type=text] {
        box-sizing: border-box;
        width:100%;
    }
    .upload-inspect {
        overflow:hidden;
    }
    .current-image-inspect {
        float: right; 
        width:50%;
        padding-left: 0.5em;
        max-height: 11em;
    }
    .current-image-inspect img {
        max-width:100%;
        float: right;
        max-height: 11em;
    }
    .submit-buttons-container {
        clear: both;
        padding-top: 1em;
    }
    .jump-to-question {
        overflow: hidden; /*take the rest of the space */
    }
    .jump-to-question button {
        float:right;
    }